<div class="contenedor_formulario">
  <h2>Formulario de Alta</h2>

  <form>
    <mat-form-field appearance="fill" class="formulario_campos">
      <mat-label>Nombre</mat-label>
      <input matInput name="nombre" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="formulario_campos">
      <mat-label>Apellido</mat-label>
      <input matInput name="apellido" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="formulario_campos">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="email" name="correo" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="formulario_campos">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" name="contrasena" required>
    </mat-form-field>

    <div class="botones">
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>person_add</mat-icon> Agregar
      </button>
    </div>
  </form>

  <!-- Botón "Volver" fuera del formulario para evitar que dispare la validación -->
  <div class="botones">
    <button mat-raised-button color="warn" routerLink="/">
      <mat-icon>arrow_back</mat-icon> Volver
    </button>
  </div>
</div>
